# docker compose individual
**/docker-compose.override.yml

# modules files
**/node_modules

# build files
**/build
**/dist

# enviroment variables
**/.env
**/.env.local
**/.env.production

# config files
**/.vscode
**/.idea
**/.vim
**/.vs